<!DOCTYPE html>
<title>Wybierz</title>
<form action='/wgraj' method="POST">
    <div>
        <label for="data">data</label>
        <input type="text" name="data_value" placeholder="wpisz datę">
    </div>
    <div>
        <label for="zmiana">zmiana</label>
        <input type="text" name="zmiana_value" placeholder="wpisz zmianę">
    </div>
    <div>
        <label for="linia">linia</label>
        <input type="text" name="linia_value" placeholder="wpisz linię">
    </div>
    <div>
        <button type="submit">Zatwierdź</button>
    </div>
</form>
